@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
    width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
    font-family: 'VT323', monospace;
    overflow-x: hidden;
    font-size: 1.3em;
}

#app {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	width: 100%;
	flex-direction: column;
}

.header_link{
	display:flex;
	gap:0.5em;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea {
	padding: 10px;
	margin-bottom: 1em;
	border-radius: 5px;
	font-family: 'VT323', monospace;
	font-size: 1.5em;
}

select{
	font-size: 0.7em;
}

button[type="submit"] {
	padding: 12px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'VT323', monospace;
	font-size: 1em;
	transition: all 0.3s ease;
}

a {
	text-decoration: none;
}
#profile-menu{
	display: flex;
    justify-content: flex-end;	
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    padding: 15px 0px;
    box-shadow: 0 2px 10px rgba(22, 224, 189, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul:first-child {
    margin-right: auto; 
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: all 0.3s ease;
    padding: 10px 15px;
    border-radius: 5px;
}

.profile-menu {
    position: relative;
    display: flex;
    align-items: center;

	padding-bottom: 0.5em;
	cursor: pointer;
}

.avatar_xl {
    width: 420px;
    height: 420px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.profile-pic {
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
	top: 1.5em;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(22, 224, 189, 0.2);
    z-index: 10;
    border-radius: 5px;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 0.9em;
}

.profile-menu:hover .dropdown-content {
    display: block;
}

h1 {
	font-size: 3em;
	text-align: center;
	margin-top: 50px;
}

.content {
	border-radius: 10px;
	padding: 30px;
	margin-top: 30px;
	box-shadow: 0 0 20px rgba(22, 224, 189, 0.1);
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 10px;
}

th, td {
	padding: 15px;
	text-align: left;
}

tr:hover td {
	background-color: rgba(22, 224, 189, 0.1);
}

#game-canvas {
	width: 100%;
	max-width: 800px;
	height: 400px;
	margin: 30px auto;
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(22, 224, 189, 0.2);
}

#score {
	text-align: center;
	font-size: 2em;
	margin-top: 20px;
}

.button {
	display: inline-block;
	margin: 10px;
	padding: 15px 30px;
	font-size: 1em;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: 'VT323', monospace;
	transition: all 0.3s ease;
}

#game-buttons {
	text-align: center;
	margin-top: 20px;
}

.avatar{ 
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
	object-fit: cover;
	overflow: hidden;
}

.logo {
	width: 2.5em;
	height: auto;
}

.alert {
	padding: 15px;
	margin: 0.75em 1em;
	border-radius: 5px;
	font-weight: bold;
	background-color: rgba(0, 255, 213, 0.1);
	z-index: 2;
}

.alert-warning {
    background-color: #e0ad16;
}
.alert-error {
    background-color: #e01616;
	color : var(--bg-color);
}

.alert-successful {
    background-color: #16e056;
}

online-status i {
    color: rgb(0, 255, 0);
    margin-left: 5px;
}


.avatar-container {
    position: relative;
}


.online-status, .offline-status {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid white; /* Bordure blanche pour le contraste */
}

.online-status {
    background-color: rgb(0, 255, 0); /* Vert pour en ligne */
}

.offline-status {
    background-color: rgb(255, 0, 0); /* Gris pour hors ligne */
}

.scoreboard-status {
	bottom: -0.4em;
	font-size: 0.5em;
}

.username {
	padding-right: 0.25em; 
}

.button {
    padding: 8px 12px;
    cursor: pointer;
	border: 0.2em solid #1a1a2e;
}

.btn-danger {
    background-color: #dc3545; /* Rouge pour les boutons "danger" */
    color: white;
}

.btn-danger:hover {
    color: #dc3545; /* Rouge plus foncé au survol */
}

.spinner {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 2s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }