.match-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #343a40;
    margin-bottom: 5px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.match-item:hover {
    background-color: rgba(52, 58, 64, 0.1);
}

.match-info {
    display: flex;
    align-items: center;
    width: 100%;
}

.player-name {
    font-weight: 500;
}

.player-name a {
    text-decoration: none;
    color: #007bff;
}

.player-name a:hover {
    text-decoration: underline;
}

.versus {
    margin: 0 10px;
    font-weight: bold;
    color: #6c757d;
}

.winner, .winner a{
    color: #ffd700; /* Couleur dorée pour le gagnant */
    font-weight: bold;
}

.loser, .loser a {
    color: #dc3545; /* Couleur rouge pour le perdant */
}

/* Enlever les puces de la liste */
#recent-matches {
    padding-left: 0;
	list-style-type: none;
}