{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}"> 
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Gérer vos amis</h2>
	{% if friends %}
		<h3>Vos amis</h3>
		<ul>
		{% for friend in friends %}
		<li>
			<img src="{{ friend.avatar.url }}" alt="Avatar de {{ friend.username }}" class="avatar-small">
			{{ friend.username }}
			<form method="post" action="{% url 'account:remove_friend' friend.id %}">
				{% csrf_token %}
				<button type="submit" class="btn btn-danger">Supprimer</button>
			</form>
		</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>Vous n'avez pas encore d'amis.</p>
	{% endif %}
    <h3>Demander un ami</h3>
    <form method="post" action="{% url 'account:send_friend_request' %}">
        {% csrf_token %}
        <div class="fields">
            <label for="user_id">Choisissez un utilisateur :</label>
            <select name="user_id" id="user_id">
                {% for user in all_users %}
                    {% if user != request.user and not user in request.user.get_friends %} 
                        <option value="{{ user.id }}">
                            <img src="{{ user.avatar.url }}" alt="Avatar de {{ user.username }}" class="avatar-small"> 
                            {{ user.username }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="submit">Envoyer la demande</button>
    </form>

    <h3>Demandes d'amis reçues</h3>
    {% if friend_requests %}
        <ul>
        {% for request in friend_requests %}
            <li>
                {{ request.from_user.username }}
                <form method="post" action="{% url 'account:accept_friend_request' request.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Accepter</button>
                </form>
                <form method="post" action="{% url 'account:reject_friend_request' request.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Refuser</button>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Vous n'avez aucune demande d'ami en attente.</p>
    {% endif %}
</div>
{% endblock %}
