{% extends 'base.html' %}
{% load static %}
{% block title %}
	Login
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}
{% block content %}
<form method="post">

	{% if form.errors %}
    <div class="alert alert-danger">
        {% for field in form %}
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
	{% endif %}

	{% csrf_token %}
    {% for field in form %}
		<div class="fields">
			{{ field.label_tag }}
			{{ field }}
		</div>
    {% endfor %}
	<input class="submit" type="submit" value="Login">

	<a class="submit" id="login_42" href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-c69dfbecc299610c1300d4f931cbf3bb8fa4c079346bd4e3a1f95145f0fa55b4&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Faccount%2F42callback&response_type=code">
		<span>sign in with 42</span>
	</a>
</form>
	<p>Don't have an account? <a class="submit" id="sign_up" href="{% url 'account:register' %}">Sign Up</a></p>
{% endblock %}
