<link rel="stylesheet" href="/css/account/profile.css">

<div class="profile-container">
    <!-- Section principale -->
    <div class="profile-header">
        <div class="avatar-section">
			<h1><span id="profile-username"></span></h1>
            <img id="profile-avatar" alt="Profile" class="avatar-large">
            <div class="quick-actions">
                <div id="1v1"></div>
                <div id="friend-actions" class="friend-actions"></div>
            </div>
        </div>
        
        <div class="stats-section">
            <div class="stat-grid">
                <div class="stat-card">
                    <div class="stat-value" id="profile-score">0</div>
                    <div class="stat-label">Score total</div>
                </div>
                <div class="stat-card">
                    <div class="stat-value" id="win-loss-ratio">0%</div>
                    <div class="stat-label">Ratio victoires</div>
                </div>
                <div class="stat-card">
                    <div class="stat-value" id="last-connection">-</div>
                    <div class="stat-label">Dernière connexion</div>
                </div>
                <div class="stat-card">
                    <div class="stat-value" id="rank">-</div>
                    <div class="stat-label">Rank</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Graphique d'évolution -->
    <div class="chart-section">
        <h2>Évolution du score</h2>
        <canvas id="scoreChart" width="400" height="200"></canvas>
    </div>

    <!-- Historique des matchs -->
    <div class="matches-section">
        <h2>Derniers matchs</h2>
        <div class="matches-header grid" id="matches-header-pong">
            <span>Joueurs</span>
            <span>Résultat</span>
            <span>date</span>
            <span>Durée</span>
            <span>Score final</span>
        </div>
        <div class="matches-header grid" id="matches-header-tictactoe" style="display: none;">
            <span>Joueurs</span>
            <span>Résultat</span>
            <span>date</span>
            <span>Nombre de coups</span>
            <span>Nombre de match nul</span>
        </div>
        <ul id="recent-matches" class="matches-list">
            <li class="empty-state">Aucun match récent</li>
        </ul>
    </div>
</div>