

{% load static %}
{% block head %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" href="{% static 'css/tournament/tournament.css' %}">
	<script src="{% static 'scripts/tournament/tournament.js' %}"></script>
{% endblock %}
{% block content %}
		<div class="left-panel">
			<div class="header">
				<h2>Liste des Tournois</h2>
			</div>
			<button class="create-button" onclick="creerNouveauTournoi()">Créer un nouveau tournoi</button>
			<div class="tournoi-list" id="liste-tournois">
				{% for tournament in tournaments %}
					<div class="tournoi-item" data-tournament-id="{{ tournament.id }}" onclick="selectTournament(this)">
						{{ tournament.name }}
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="right-panel">
			<h2 id="tournament_name"></h2>
			<div id="tournament">
				Sélectionner un tournoi pour afficher les détails
			</div>
			<div class="button-container">
				<button class="button" onclick="joinTournament()">Rejoindre le tournoi</button>
				<button class="button" onclick="leaveTournament()">supprimer le tournoi</button>
			</div>
		</div>
		
		<!-- Modal HTML -->
		<div id="tournamentModal" class="modal">
			<div class="modal-content">
				{% comment %} <span class="close-button" onclick="closeModal()">&times;</span> {% endcomment %}
				<h2>Créer un nouveau tournoi</h2>
				<form method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit">Créer le tournoi</button>
				</form>
			</div>
		</div>
{% endblock %}