{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} ft_transcendence {% endblock %} </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo2.ico' %}">

    {% block head %}
    {% endblock %}
</head>
<body>
    <header id="header">
        <nav>
            <ul> 
                {% if user.is_authenticated %}
                    <li> <a href="/home"><i class="fas fa-home"></i> Accueil</a> </li>
                    <li> <a href="/scoreboard"><i class="fas fa-trophy"></i> Classement</a> </li>
                    <li><a href="/account/search"><i class="fa fa-search" aria-hidden="true"></i> rechercher</a></li>
                    <li><a href="#"><i class="bi bi-flag"></i> Tournois</a></li>
                    
                    {% if user.is_superuser %}
                        <li><a href="/admin"><i class="bi bi-gear"></i> Admin</a></li>
                    {% endif %}
                {% else %}
				<li> <a href="/"><i class="fas fa-home"></i> Accueil</a> </li>
                {% endif %}
            </ul>
            <div id= "profile-menu" >
                {% if user.is_authenticated %}
                    <nav>
                        <ul>
                            <li class="profile-menu">
								<span class="username" >{{ user.username }}</span>
                                <img src="{{ user.avatar.url }}" alt="Profile" class="profile-pic">
                                <div class="dropdown-content">
                                    <a href="{% url 'account:profile' user.username %}"><i class="fa fa-user" aria-hidden="true"></i> profil</a>
                                    <a href="{% url 'account:settings' %}"><i class="fas fa-cog"></i> Réglages</a>
                                    <a href="{% url 'account:logout' %}"><i class="fas fa-sign-out-alt"></i> Se déconnecter</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                {% else %}
					<nav>
						<ul>
                    		<li> <a href="{% url 'account:login' %}"><i class="fas fa-sign-in-alt"></i> Se connecter</a> </li>
						</ul>
					</nav>
                {% endif %}
            </div>
        </nav>
    </header>

    {% for message in messages %}
    <div class ="alert">
        {{ message }}
    </div>
    {% endfor %}
    <div id="content">
                {% block content %}
        {% endblock %}
    </div>

	<script>
		setInterval(function() {
			fetch('{% url "update_last_activity" %}')
				.then(response => response.json())
				.then(data => {});
		}, 60000);
	</script>
</body>
</html>
