{% extends 'base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"> 
{% endblock %}
{% block title %}
	Home
{% endblock %}
{% block content %}

{% if user.is_superuser %}
<form method="post" action="{% url 'generate_users' %}">
    {% csrf_token %}
    <label> Number of users to generate: </label>
    <input type="number" name="num_users" value="10" min="1" max="100">
    <button type="submit">Générer</button>
</form>
<form method="post" action="{% url 'create_match' %}">
    {% csrf_token %}
	<label>Créer un match</label>
    <div class="fields">
        <label for="player1">Joueur 1:</label>
        <select name="player1" id="player1">
            {% for user in all_users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="fields">
        <label for="player2">Joueur 2:</label>
        <select name="player2" id="player2">
            {% for user in all_users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="fields">
        <label for="winner">Gagnant :</label>
        <select name="winner" id="winner">
			{% for user in all_users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Créer le match</button>
</form>
{% endif %}

<h1 id="neon">SCOREBOARD</h1>
{% if scoreboard %}
	<table id="scoreboard">
		<thead>
			<tr>
				<th class="text-center">Rank</th>
				<th class="text-center">Name</th>
				<th class="text-center">Score</th>
			</tr>
		</thead>
		<tbody>
			{% for player in scoreboard %}
			<tr>
				<td class="text-center">
					{{ forloop.counter }}
				</td>
				<td class="text-center cellule">
					<a href="{% url 'account:profile' player.username %}">
					<span class="avatar-container">
						<img class="avatar" src="{{ player.avatar.url }}" alt="Avatar">

						{% if player.is_online %}
							<span class="online-status scoreboard-status"><i class="fas fa-circle"></i></span>
						{% else %}
							<span class="offline-status scoreboard-status"><i class="fas fa-circle"></i></span>
						{% endif %}
					</span>
					{{ player.username }}
				</td>
				<td class="text-center">{{ player.score }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No scoreboard data available.</p>
{% endif %}

{% endblock %}
