<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        canvas {
            border: 2px solid black;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <canvas id="pongCanvas" width="800" height="600"></canvas>
    <div id="player-turn"></div>
    <div id="button-wrapper"></div>

    <script type="module" src="game.js"></script>
</body>
</html>