<link rel="stylesheet" href="/css/scoreboard.css">

<div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-10">
            <div class="card border-glow">
                <div class="card-header text-center py-4">
                    <h1 class="display-4 mb-0 text-nowrap" id="neon">SCOREBOARD</h1>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped mb-0">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 100px;">#</th>
                                    <th>JOUEUR</th>
                                    <th class="text-center" style="width: 150px;">SCORE</th>
                                </tr>
                            </thead>
                            <tbody id="scoreboard-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>