<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="/css/tournament/tournament.css">


<div  style="display:flex;flex-direction:row;width:80%;height:80%">
	<div class="left-panel">
		<div class="header">
			<h2>Liste des Tournois</h2>
		</div>
		<button class="create-button" onclick="createModal()">Créer un nouveau tournoi</button>
		<div class="tournament-list" id="tournament-list">
		</div> 
	</div>
	<div class="right-panel">
		<h2 id="tournament_name"></h2>
		<div id="tournament">
			Sélectionner un tournoi pour afficher les détails
		</div>
		<div id="button_container">
		</div>
		<div id="admin_button_container">
		</div>	
	</div>
	<div id="Modal" class="modal">
		<div class="modal-content">
			<span class="close-button" onclick="closeModal()">&times;</span>
			<h2>Créer un nouveau tournoi</h2>
			<form id="create-tournament-form">
				<div>
					<label for="tournament-name">Nom du tournoi:</label>
					<input type="text" id="tournament-name" name="name" required>
				</div>
				<div>
					<label for="number_of_players">Nombre de joueurs:</label>
					<select id="number_of_players" name="number_of_players">
						<option value="2">2</option>
						<option value="4">4</option>
						<option value="8">8</option>
						<option value="16">16</option>
					</select>
				</div>
				<button type="submit">Créer le tournoi</button>
			</form>
		</div>
	</div>
</div>